In [9]:
print("hello world")

hello world

In [10]:
print("hello")

hello

# welcome

## Welcome

### welcome

In [11]:
#case sensitive

a=10
A=50

In [12]:
print("hello world")

hello world

In [13]:
print(7)

7

In [14]:
print(7.7)

7.7

In [15]:
print(True)

True

In [16]:
print('hello',5,7.7,True)

hello 5 7.7 True

In [17]:
print('hello',end='_')
print('world')

hello_world

In [18]:
print('hello',end='*******')
print("priya")

hello*******priya

In [19]:
print("hello",end='not')
print("world")
print("python")

hellonotworld
python

# Datatypes

## Integer : It is a whole number

In [20]:
age = 25

In [21]:
type(age)

int

## Float  : It include decimal points

In [22]:
price = 99.99
pi = 3.14

In [23]:
type(price)

float

In [24]:
type(11.99)

float

## boolean values

In [25]:
is_sunny = True
type(is_sunny)

bool

## Strings

In [26]:
name = "Priya nagendra"
greeting = ("good morning")
type(name)

str

## Complex

### A complex number is a number composed of a real part and imaginary part

In [27]:
z = 3 + 2j
type(z)

complex

## List: a list is a collection of items .it is mutable

In [28]:
lis = ["apple","banana"]
numbers = [1,2]
mixed = [1, "apple",3.5,True]
type(lis)

list

## Tuple: a tuple is an order collection of items which can be a different data type enclosed in a parameters immutable

In [29]:
point = (3,4)
person = ("priya", 30, "manu")
colours = ("Red","Green")
type(point)

tuple

## SET :
### it is a unorder collection of unpair items, enclosed in curly braces , remove duplication

In [30]:
unique_number = {1,2,3,4,5}
fruit = {"apple","banana","cherry"}

In [31]:
unique_number

{1, 2, 3, 4, 5}

In [32]:
type(fruit)

set

# Dictionary

## a dictionary is an unordered collection of key-value pairs. it is immutable

In [33]:
student = {"name": "Alice", "age": 22, "major": "computer science"}
price = {"apple": 1.2, "banana": 0.5, "cherry":2.5}

In [34]:
student = {"Name":["Raj","Alice"], "age": [22,20]}

In [35]:
student

{'Name': ['Raj', 'Alice'], 'age': [22, 20]}

In [36]:
movie = {"name": ["kantara","appu","abhi"]}

In [37]:
movie

{'name': ['kantara', 'appu', 'abhi']}

In [13]:
college = {"name": ['MCU', 'NPUC', 'SVVK']}

In [14]:
college

{'name': ['MCU', 'NPUC', 'SVVK']}

## variables

### a variable is a named location in memory used to store a value that can be changed during program

### rules for declaring a variable

### variable names must start with a letter (a-z,A-Z) or an underscore

In [15]:
variable_name = 10

### after the intial character, variables names can contein letters ,numbers and underscore

In [16]:
student_roll_number = 250

In [17]:
strdroll = 25

In [19]:
myVariable = 260

In [20]:
myVariable

260

In [21]:
user_age = 30

In [22]:
roll_number = 110

In [23]:
roll_number

110

In [24]:
age = 22

In [25]:
age

22

### python keywords(reserved wwords with special meanings in language)

In [26]:
for_4 = 44

In [1]:
for_4 = 23

In [2]:
is = 225

SyntaxError: invalid syntax (2607967547.py, line 1)

### variables names should be descriptive and meaningfuk, providing some indication some indication of the purpose or content of the variable

In [29]:
saturday_sales = 15555

In [30]:
roll_number = 333

In [32]:
sales = 79980

In [33]:
profit = 1000

### avoid using built-in function or module names to prevent conflicts and confusion

In [34]:
list = 55

In [35]:
tuple =  66

In [36]:
list

55

### underscores can be used to separate multiple words

In [37]:
average_score = 25

### it is generally recommended to use lowercase letters for names

In [38]:
age=25
name='priya'
name

'priya'

### be consistent with your naming style

In [39]:
user_name='priya'
user_name2='manu'

In [41]:
#example 1:
variable_name = 10

### comments

### a comment is a note in the code that is ignored by the interpreter and used to explain or annotate the code for human readers

In [42]:
#example
print("Hello,world!")

Hello,world!

In [43]:
#a=25

In [48]:
"""hi everyone 
im priya from mcu"""

'hi everyone \nim priya from mcu'

In [49]:
"""i study at anudip"""

'i study at anudip'

In [50]:
"""this is a multi
line comment  and im declaring some values"""

'this is a multi\nline comment  and im declaring some values'

In [51]:
"""this is multi
line ,"""

'this is multi\nline ,'

## Keywords and Identifiers

### keyword is a reserved word with predefined meanings and functionality within the programming language .example: (int,float,bool)

In [52]:
var = 20

In [53]:
var

20

In [54]:
print("this is a keyword")

this is a keyword

### Identifiers : an identifier is a name used to identify a variable,function,class,module or other object in python .Identifiers must start with a letter(a-z,A-Z) or an underscore

In [2]:
my_salary= 500000

In [1]:
#Identifiers
name1 = 'Priya'
print(name1)
#you can use special char
_ = 'hello'
print(_)

Priya
hello

# user Input
## the input() fun in python reads a line of text from the user and returns it as a string

In [2]:
name=input()

priya

In [3]:
type(name)

str

In [5]:
name=input('what is your name')

what is your name priya

In [6]:
print(name)

 priya

In [7]:
input("enter the user name")

enter the user namepriya

'priya'

In [8]:
input("enter anything")

enter anything'hello'

"'hello'"

In [ ]:
num1 = int(input("enter the first number"))

In [17]:
num1

10

In [ ]:
type(num1)

In [20]:
num2 = int(input("enter the second number"))

enter the second number20

In [21]:
num2

20

In [22]:
type(num2)

int

In [23]:
num1 + num2

30

In [24]:
num1 = int(input("enter the first number"))
num2 = int(input("enter the second number"))

enter the first number10
enter the second number20

In [25]:
num1 = float(input("enter the first number"))

enter the first number10

In [26]:
num1

10.0

In [27]:
num1 = int(input("enter the first number"))

enter the first number10

In [29]:
num1 = float(input("enter the first number"))

enter the first number10

In [31]:
num1

10.0

In [30]:
num2 = float(input("enter the first number"))

enter the first number20

In [32]:
num2

20.0

In [33]:
num1 + num2

30.0

In [34]:
num1 - num2

-10.0

In [35]:
num1 * num2

200.0

In [36]:
num1 / num2

0.5

In [37]:
num1 % num2

10.0

In [38]:
num1 = int(input("enter the first number"))

enter the first number10

In [39]:
num2 = int(input("enter the first number"))

enter the first number20

In [47]:
num1 = int(input("enter the first number"))
num2 = int(input("enter the first number"))

enter the first number10
enter the first number20

In [48]:
num1

10

In [49]:
num2

20

In [50]:
num1 + num2

30

In [51]:
num1-num2

-10

In [55]:
num1*num2

200

In [53]:
num1/num2

0.5

In [54]:
num1%num2

10

In [1]:
num1 = int(input("enter the first number"))
num2 = int(input("enter the first number"))

sub = num1-num2
add=num1+num2
mul=num1*num2
div=num1/num2

print('difference is',sub)
print('sum is',add)
print('product is',mul)
print('ratio is',div)

enter the first number10
enter the first number20
difference is -10
sum is 30
product is 200
ratio is 0.5

In [2]:
num3 = input("enter a number")

enter a number1110

In [3]:
type(num3)

str

In [4]:
num1 = (input('enter first number '))
num2 = (input('enter second number '))


#subtract two varaible
result = int(num1) + int(num2)
# print the result
print(result)
type(result)

enter first number 10
enter second number 20
30

int

In [5]:
type(num1)   #here the type conversion has not changed the original data but it creates a new value

str

# Type conversion

##### converting one data type to another

### type conversion:
#### 1.definition: type conversion is the process of changing the data type of a value from one type to another.
#### 2.Explanation: it allows you to convert b/w different data types,such as from strings to integers or floats, to perform various operations.

In [1]:
#converting a string to an integer
age_str="25"
age_int=int(age_str)
number=10
number_str=str(number)

In [2]:
int_value=10

In [3]:
type(int_value)

int

In [4]:
#convert int------->float

In [5]:
float_value=float(int_value)

In [6]:
type(float_value)

float

In [7]:
age_str = '25'

In [8]:
type(age_str)

str

In [9]:
age_int = int(age_str)

In [10]:
type(age_int)

int

In [11]:
type(age_str)

str

In [12]:
print(8+10.5)

18.5

In [13]:
# Implicit       it is a type conversion  done by the python itself

print(8+5.8)

13.8

In [14]:
print(type(8),type(5.8))

<class 'int'> <class 'float'>

In [16]:
# implicit doesnt work here
print(8 + 9)

17

In [2]:
# Explicit    where the programmer explicitly write a code to convert

In [3]:
a = 10

In [4]:
# int to str
b = str(a)

In [5]:
type(b)

str

In [6]:
str(20)

'20'

In [7]:
b = 4+5j

In [8]:
type(b)

complex